<form #userForm="ngForm" (ngSubmit)="login()" class="md:flex justify-center px-20 bg-white gap-10">
  <div class="h-auto w-3/5" style="background-image: url('/register.svg');
background-repeat: no-repeat; background-size: contain; background-color: white;
background-position: bottom">
    div1
  </div>
  <div class="bg-white my-10 rounded md:w-1/4 flex flex-col gap-3 shadow-sm drop-shadow-md">
    <div class="text-center mt-10">
      <i class="material-icons text-5xl text-blue-900 bg-white">person</i>

      <div class="text-2xl my-2 font-medium">
        Login

      </div>
    </div>
    <div class="w-full px-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input #emailModel="ngModel"
               [(ngModel)]="email" matInput
               name="email"
               placeholder="Email"
               required
        />
        <mat-error *ngIf="emailModel.errors?.['required']">
          Email is required.
        </mat-error>


      </mat-form-field>


      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input #passwordModel="ngModel" [(ngModel)]="password" [type]="hide()?'text':'password'" matInput
               name="password"
               placeholder="Password"
               required/>
        <mat-icon (click)="togglePassword($event)" matSuffix>
          {{ hide() ? 'visibility_off' : 'visibility' }}
        </mat-icon>

        <mat-error *ngIf="passwordModel.errors?.['required']">
          Password is required.
        </mat-error>
      </mat-form-field>


      <app-button
        (action)="login()"
        [isDisabled]="!userForm.valid"
        [isLoading]="authService.isLoading()" [text]="'Login'"/>
      <p class="font-bold text-xs text-center pb-10">
        Dont't have an account? <a [routerLink]="'/register'" class="text-blue-500">Register</a>
      </p>

    </div>
  </div>

</form>
